# 131~200

## 반복문

In [1]:
# for 문의 실행결과 예측

과일 = ['사과', '귤', '수박']
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [2]:
fruit = ['apple', 'watermelon', 'melon']

for i in fruit:
    print("#####")

#####
#####
#####

In [3]:
for i in ["A", 'B', 'C']:
    print('출력 : ', i)

출력 :  A
출력 :  B
출력 :  C

In [4]:
for i in ['A', 'B', 'C']:
    b = i.lower()
    print("변환 : ", b)

변환 :  a
변환 :  b
변환 :  c

In [5]:
I = [10, 20, 30]

for i in I:
    print(i)

10
20
30

In [6]:
for i in I:
    print("------")

------
------
------

In [7]:
print("++++")
for i in I:
    print(i)

++++
10
20
30

In [8]:
for i in range(4):
    print("-----")

-----
-----
-----
-----

In [9]:
list = [100, 200, 300]

for i in list:
    print(i+10)

110
210
310

In [10]:
list = ["김밥", "라면", "튀김"]

for i in list:
    print("오늘의 메뉴 : ", i)

오늘의 메뉴 :  김밥
오늘의 메뉴 :  라면
오늘의 메뉴 :  튀김

In [11]:
list = ['SK하이닉스', '삼성전자', 'LG전자']

for i in list:
    print(len(i))

6
4
4

In [12]:
list = ['dog', 'cat', 'parrot']

for i in list:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [13]:
for i in list:
    print(i[0])

d
c
p

In [15]:
list = [1,2,3]

for i in list:
    print("3 x", i)

3 x 1
3 x 2
3 x 3

In [16]:
for i in list:
    print("3 x", i, "= ", i*3)

3 x 1 =  3
3 x 2 =  6
3 x 3 =  9

In [20]:
list = ['가', '나', '다', '라']
list = list[1:]

for i in list:
    print(i)

나
다
라

In [22]:
list = ['가', '나', '다', '라']
list = list[0::2]

for i in list:
    print(i)

가
다

In [24]:
list = ['가', '나', '다', '라']
list = list[::-1]

for i in list:
    print(i)

라
다
나
가

In [25]:
list = [3, -20, -3, 44]

for i in list:
    if i > 0:
        pass
    else:
        print(i)

-20
-3

In [26]:
list = [3, 100, 23, 44]

for i in list:
    if i % 3 == 0:
        print(i)

3

In [27]:
list = [13, 21, 12, 14, 30, 18]

for i in list:
    if i < 20:
        if i % 3 == 0:
            print(i)

12
18

In [30]:
for i in list:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

In [31]:
for i in list:
    if i < 20 or i % 3 == 0:
        print(i)

13
21
12
14
30
18

In [35]:
list = ["I", "study", "python", "language", "!"]

for i in list:
    if len(i) >= 3:
        print(i)

study
python
language

In [36]:
list = ["A", "b", "c", "D"]

for i in list:
    if i.isupper():
        print(i)

A
D

In [38]:
for i in list:
    if i.islower():
        print(i)

b
c

In [43]:
list = ['dog', 'cat', 'parrot']

for i in list:
    i_0 = i[0].upper()
    print(i_0 + i[1:])

Dog
Cat
Parrot

In [44]:
list = ['hello.py', 'ex01.py', 'intro.hwp']

for i in list:
    j = i.split(".")[0]
    print(j)

hello
ex01
intro

In [45]:
list = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in list:
    j = i.split(".")
    if j[1] == 'h':
        print(i)

intra.h
define.h

In [46]:
for i in list:
    j = i.split(".")
    if j[1] == 'h' or j[1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [47]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [48]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [49]:
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [50]:
for i in range(99, 0, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [52]:
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [54]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [56]:
for i in range(1, 10):
    print(f"3x{i} = ", 3*i)

3x1 =  3
3x2 =  6
3x3 =  9
3x4 =  12
3x5 =  15
3x6 =  18
3x7 =  21
3x8 =  24
3x9 =  27

In [69]:
sum = 0
for i in range(11):
    sum += i
print(sum)

55

In [66]:
sum = 0
for i in range(11):
    if i % 2 != 0:
        sum += i
print(sum)

25

In [74]:
total = 1

for i in range(1, 11):
    total *= i
print(total)

3628800

In [76]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [77]:
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [80]:
for i in range(len(price_list)):
    print(len(price_list)-1-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [81]:
for i in range(len(price_list)):
    print((100 + (i*10)), price_list[i])

100 32100
110 32150
120 32000
130 32500

In [85]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list) - 1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [88]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list) - 2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [92]:
my_list = ["가", "나", "다", "라"]

for i in range(1, len(my_list)):
    print(my_list[-i], my_list[-i-1])

라 다
다 나
나 가

In [94]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [95]:
my_list.append(1000)
my_list.append(1300)

for i in range(len(my_list) - 2):
    mean = (my_list[i] + my_list[i+1] + my_list[i+2]) / 3
    print(mean)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [97]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

# 고가와 저가의 차를 변동폭
# 5일간의 변동폭을 volatility list에 저장한다

volatility = []

for i in range(len(high_prices)):
    j = high_prices[i] - low_prices[i]
    volatility.append(j)
print(volatility)

[50, 100, 30, 80, 0]

In [98]:
apart = [
    ["101호", "102호"],
    ["201호", "202호"],
    ["301호", "302호"],
]

In [99]:
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [100]:
stock = [
    ["시가", 100, 200, 300],
    ["종가", 80, 210, 330],
]

In [101]:
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [102]:
stock = {
    "시가" : [100, 200, 300],
    "종가" : [80, 210, 330],
}

In [103]:
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [105]:
stock = {
    "10/10" : [80, 110, 70, 90],
    "10/11" : [210, 230, 190, 200],
}

print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [108]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [110]:
for i in apart[::-1]:
    for j in i[::-1]:
        print(j, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [111]:
for i in apart:
    for j in i:
        print(j, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [112]:
for i in apart:
    for j in i:
        print(j, "호")
    print("------")

101 호
102 호
------
201 호
202 호
------
301 호
302 호
------

In [113]:
for i in apart:
    for j in i:
        print(j, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [114]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

In [118]:
for i in data:
    for j in i:
        su = 0.00014
        susu = j * su + j
        print(susu)

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [119]:
for i in data:
    for j in i:
        su = 0.00014
        susu = j * su + j
        print(susu)
    print("-----")

2000.28
3050.427
2050.287
1980.2772
-----
7501.05
2050.287
2050.287
1980.2772
-----
15452.163
15052.107
15552.177
14902.086
-----

In [121]:
result = []

for i in data:
    for j in i:
        su = 0.00014
        susu = j * su + j
        result.append(susu)

print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

In [125]:
result = []

for i in data:
    sosult = []
    for j in i:
        su = 0.00014
        susu = j * su + j
        sosult.append(susu)
    result.append(sosult)

print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

In [126]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

In [132]:
for i in ohlc[1:]:
    print(i[3])

100
190
310

In [134]:
for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [136]:
for i in ohlc[1:]:
    if i[0] <= i[3]:
        print(i[3])

100
310

In [138]:
volatility = []

for i in ohlc[1:]:
    volatility.append(i[1] - i[2])
print(volatility)

[40, 30, 10]

In [139]:
for i in ohlc[1:]:
    if i[3] > i[0]:
        volatility = i[1] - i[2]
print(volatility)

10

In [145]:
sum = 0
for i in ohlc[1:]:
    sum += (i[3] - i[0])
print(sum)

0