# 위키독스 파이썬 300제

## 1 ~ 10번
기본 `print` 예제

In [1]:
print("Hello World")

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
print("\"C:\\Windows\"")

"C:\Windows"

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n = 줄바꿈
# \t = tab

안녕하세요.
만나서		반갑습니다.

In [6]:
print("오늘은", "일요일")

오늘은 일요일

In [7]:
print("naver;kakao;sk;samsung")
print("naver", "kakao", "sk", "samsung", sep=";")
# sep = 인자 사이사이 값

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [8]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [9]:
print("first");print("second")

# ;은 한줄에 여러개 명령을 작성할 수 있게 해준다
# ;을 입력해도 줄바꿈을 통해 출력된다.
# 줄바꿈 없이 출력하기

print("first", end=" ");print("second")
# end를 통해 끝에 띄어쓰기 하나를 넣고 붙여준다

first
second
first second

In [10]:
print(5/3)

1.6666666666666667

## 11 ~ 20번
파이썬 `변수` 연습

In [11]:
samsung = 50000
print(samsung * 10)

500000

In [12]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [13]:
# 변수 사용하기

In [14]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [15]:
s = 'hello'
t = 'python'

print(s+"!",t)

hello! python

In [16]:
print(2+2*3)

8

In [17]:
a = 128
print(type(a))
b = 432
print(type(b))

<class 'int'>
<class 'int'>

In [18]:
num_str = "720"
num_int = int(num_str)
print(type(num_int))

<class 'int'>

In [19]:
num = 100
str = str(num)
print(type(str))

<class 'str'>

In [20]:
num_str = "15.79"
num_flo = float(num_str)

print(num_flo, type(num_flo))

15.79 <class 'float'>

In [21]:
year = "2020"
year = int(year)

print(year, year+1, year+2, year+3)

2020 2021 2022 2023

In [22]:
air = 48584
iza = 36

print("총금액 : ", air*iza)

총금액 :  1749024

## 21 ~ 50번

파이썬 `문자열` 연습

In [23]:
letter = 'python'
print(letter[0], letter[2])

p t

In [24]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [25]:
string = "홀짝홀짝홀짝"

print(string[0], string[2], string[4], sep="")
print(string[::2])

홀홀홀
홀홀홀

In [26]:
string = "PYTHON"

print(string[::-1])

NOHTYP

In [27]:
## replace 사용하기

phone_number = "010-1111-2222"
phone_number_replace = phone_number.replace("-", " ")

print(phone_number_replace)

010 1111 2222

In [28]:
# 위 문제 공백없이 만들기

phone_numbers_replace2 = phone_number_replace.replace(" ", "")
print(phone_numbers_replace2)

01011112222

In [29]:
lang = 'python'
lang[0] = "P"
print(lang)

# 에러난다

TypeError: 'str' object does not support item assignment

In [30]:
string = 'abcdef2a354a32a'

string_A = string.replace("a", "A")
print(string_A)

Abcdef2A354A32A

In [31]:
string = 'abcd'
string.replace('b', 'B')
print(string)

#  따로 변수에 할당해 주지 않으면 replace가 적용되지 않고 그대로 출력된다
# 그 이유는 문자열은 바꿀 수 없기 때문에 바꾼다면 새로운 문자열을 할당해야한다.

abcd

In [32]:
a = "3"
b = "4"
print(a+b)

34

In [33]:
print("Hi"*3)

HiHiHi

In [34]:
print("-"*80)

--------------------------------------------------------------------------------

In [35]:
t1 = 'python'
t2 = 'java'

t3 = t1+ ' ' + t2 + ' '
print(t3 * 3, sep=" ")

python java python java python java

In [36]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름 : %s, 나이 : %d" %(name1, age1))
print("이름 : %s, 나이 : %d" %(name2, age2))

이름 : 김민수, 나이 : 10
이름 : 이철희, 나이 : 13

In [37]:
print("이름 : {}, 나이 : {}".format(name1, age1))
print("이름 : {}, 나이 : {}".format(name2, age2))

이름 : 김민수, 나이 : 10
이름 : 이철희, 나이 : 13

In [38]:
print(f"이름 : {name1}, 나이 : {age1}")
print(f"이름 : {name2}, 나이 : {age2}")

이름 : 김민수, 나이 : 10
이름 : 이철희, 나이 : 13

In [39]:
상장주식수 = "5,969,782,550"

상장주식수 = 상장주식수.replace(",", "")
상장주식수 = int(상장주식수)
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [40]:
분기 = "2020/03(E) (IFRS연결)"

print(분기[:7])

2020/03

In [41]:
# strip() 공백 제거

data = "    삼성전자     "
data = data.strip()
print(data)

삼성전자

In [42]:
ticker = 'btc_krw'

ticker.upper()

'BTC_KRW'

In [43]:
ticker = 'BTC_KRW'

ticker.lower()

'btc_krw'

In [44]:
ticker = "hello"

ticker.capitalize()

'Hello'

In [45]:
file_name = "see_stand.xlsx"

file_name.endswith("xlsx")

True

In [46]:
# 두 개를 확인할 때는 ()를 한개 더 땡겨준다

file_name.endswith(("xlsx", "xls"))

True

In [47]:
file_name = "2020_see_and_stand.xlsx"

file_name.startswith("2020")

True

In [48]:
a = "hello world"
b = a.split()
print(b)

['hello', 'world']

In [49]:
ticker = "btc_krw"

a = ticker.split("_")
print(a)

['btc', 'krw']

In [50]:
data = "2020-05-01"

data = data.split("-")
print(data)

['2020', '05', '01']

In [51]:
data = "045998     "

data = data.rstrip()
print(data)

## rstrip(), lstrip() 각각 오른쪽 왼쪽 공백 지워주기

045998

## 51 ~ 70
파이썬 `list` 연습

In [52]:
# 리스트 생성

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [53]:
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [54]:
# 중간에 넣을 때는 insert를 쓰자

movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [55]:
movie_rank.pop(4)
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키']

In [56]:
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '럭키']

In [57]:
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [58]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [59]:
nums = [1,2,3,4,5,6,7]

print(max(nums))
print(min(nums))

7
1

In [60]:
nums = [1,2,3,4,5]

print(sum(nums))

15

In [61]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [62]:
nums = [1,2,3,4,5]

print(sum(nums)/len(nums))

3.0

In [63]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

In [64]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

[1, 3, 5, 7, 9]

In [65]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

[2, 4, 6, 8, 10]

In [66]:
nums = [1,2,3,4,5]

print(nums[::-1])

[5, 4, 3, 2, 1]

In [67]:
interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

삼성전자 Naver

In [68]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))
for i in range(len(interest)):
    print(interest[i], end=" ")

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [69]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [70]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [71]:
string = "삼성전자/LG전자/Naver"

interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [72]:
data = [2, 4, 3, 1, 5, 10, 9]

data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [73]:
data = [2, 4, 3, 1, 5, 10, 9]

data = sorted(data)
print(data)

[1, 2, 3, 4, 5, 9, 10]

## 71 ~ 80번
파이썬 `튜플` 연습

In [74]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [75]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [76]:
tuple_int = (1)
tuple = (1,)

print(type(tuple_int))
print(type(tuple))

## 튜플을 만들때는 항상 `,`를 추가해줘야 한다 안그럼 그냥 int로 인식

<class 'int'>
<class 'tuple'>

In [78]:
t = 1,2,3,4

print(type(t))

# 튜플은 괄호를 쓰는 것이 일반적이지만 없어도 된다

<class 'tuple'>

In [79]:
t = ('a', 'b', 'c')
print(t)
t = ('A', 'b', 'c')
print(t)

('a', 'b', 'c')
('A', 'b', 'c')

In [80]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

interest = list(interest)
print(type(interest))

<class 'list'>

In [82]:
temp = ('apple', 'banana', 'cake')
a,b,c = temp
print(a,b,c)

apple banana cake

In [88]:
tuple_A = (1,2,3)
print(tuple_A)

(1, 2, 3)

In [90]:
list(tuple_A)

[1, 2, 3]

In [93]:
list_A = [1,2,3]
list_A

[1, 2, 3]

# 81 ~ 100번
파이썬 `딕셔너리` 연습

In [97]:
a, b, *c = (0,1,2,3,4,5)

print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5]

In [98]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, _, _ = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [99]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

_, _, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [100]:
temp = {}

In [104]:
temp = {
    "메로나" : 1000,
    "폴라포" : 1200,
    "빵빠레" : 1800,
}

print(temp)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [105]:
temp["죠스바"] = 1200
temp["월드콘"] = 1500

In [106]:
print(temp)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [107]:
print("메로나 가격 : ", temp["메로나"])

메로나 가격 :  1000

In [109]:
temp["메로나"] = 1300
print(temp)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [110]:
del temp["메로나"]

print(temp)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [112]:
inventory = {
    "메로나" : {
        "가격" : 300,
        "재고" : 20,
    },
    "비비빅" : {
        "가격" : 400,
        "재고" : 3,
    },
    "죠스바" : {
        "가격" : 250,
        "재고" : 100,
    }
}

inventory

{'메로나': {'가격': 300, '재고': 20},
 '비비빅': {'가격': 400, '재고': 3},
 '죠스바': {'가격': 250, '재고': 100}}

In [114]:
print(inventory["메로나"]["가격"])

300

In [115]:
print(inventory["메로나"]["재고"])

20

In [117]:
inventory["월드콘"] = {"가격" : 500, "재고" : 7}

print(inventory)

{'메로나': {'가격': 300, '재고': 20}, '비비빅': {'가격': 400, '재고': 3}, '죠스바': {'가격': 250, '재고': 100}, '월드콘': {'가격': 500, '재고': 7}}

In [120]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice_list = list(icecream.keys())
print(ice_list)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [121]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice_list = list(icecream.values())
print(ice_list)

[1200, 1200, 1800, 1500, 1000]

In [123]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice_list = sum(icecream.values())

print(ice_list)

6700

In [125]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [126]:
keys = ("apple", "pear", "peach")
values = (300, 250, 400)

result = dict(zip(keys, values))

print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [128]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))

print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

아주 간단한 python 문제 100번까지 후딱 달려왔다   

문제가 왜 tuple()이 안되지??   
list(), dict()은 되는데 tuple()만 안되네

In [131]:
a = [1,2,3,4,5]
b = tuple(a)

print(b, type(b))

TypeError: 'tuple' object is not callable