In [2]:
def swap(n1, n2):
    temp = n1
    n1 = n2
    n2 = temp
    print(n1, n2)

In [3]:
num1 = 10
num2 = 20

print(num1, num2)
swap(num1, num2)
print(num1, num2)

10 20
20 10
10 20

In [8]:
def yp(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print("윤년")
    else:
        print("평년")

In [11]:
yp(2005)
yp(2000)
yp(4123)
yp(2340)

평년
윤년
평년
윤년

In [15]:
import random
list = []
for i in range(10):
    list.append(random.randrange(2000, 3000))

In [16]:
list

[2906, 2617, 2046, 2678, 2927, 2980, 2674, 2532, 2544, 2192]

In [22]:
count = 0
for i in list:
    print(list[count], end=" ")
    yp(i)
    count += 1

2906 평년
2617 평년
2046 평년
2678 평년
2927 평년
2980 윤년
2674 평년
2532 윤년
2544 윤년
2192 윤년