In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# 백신 접종 데이터 불러오기 및 전처리

In [2]:
vaccine_path = '/content/drive/MyDrive/DATATHON01/covid_vaccine.csv'
vaccine_data = pd.read_csv(vaccine_path, encoding='CP949')
vaccine_data

,접종일,접종대상자,당일 1차접종자 수,1차접종 누계,1차접종률(%),당일 2차접종자 수,2차접종 누계,2차접종률(%),당일 추가접종자 수,추가접종 누계,추가접종률(%),추가접종대상자
0,2021-04-21,1019322,22501,291857,28.6,2358,13543,1.3,NaN,NaN,NaN,NaN
1,2021-04-22,1023538,27074,317386,31.0,2479,15901,1.6,NaN,NaN,NaN,NaN
2,2021-04-23,1027740,10195,345764,33.6,119,18376,1.8,NaN,NaN,NaN,NaN
3,2021-04-24,1023346,200,350427,34.2,0,18513,1.8,NaN,NaN,NaN,NaN
4,2021-04-25,1023346,23323,350631,34.2,3411,18513,1.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
315,2022-03-02,9401888,377,8304717,88.3,758,8216720,87.4,11710.0,5689522.0,60.5,9401888.0
316,2022-03-03,9401888,316,8305075,88.3,621,8217373,87.4,12679.0,5702479.0,60.7,9401888.0
317,2022-03-04,9401888,508,8305659,88.3,1057,8218519,87.4,18116.0,5720977.0,60.8,9401888.0
318,2022-03-05,9401888,345,8305965,88.3,802,8219305,87.4,9067.0,5730542.0,61.0,9401888.0
319,2022-03-06,9401888,8,8305935,88.3,31,8219297,87.4,308.0,5730846.0,61.0,9401888.0

In [3]:
vaccine_data = vaccine_data.sort_values(['접종일'])
vaccine_data

,접종일,접종대상자,당일 1차접종자 수,1차접종 누계,1차접종률(%),당일 2차접종자 수,2차접종 누계,2차접종률(%),당일 추가접종자 수,추가접종 누계,추가접종률(%),추가접종대상자
0,2021-04-21,1019322,22501,291857,28.6,2358,13543,1.3,NaN,NaN,NaN,NaN
1,2021-04-22,1023538,27074,317386,31.0,2479,15901,1.6,NaN,NaN,NaN,NaN
2,2021-04-23,1027740,10195,345764,33.6,119,18376,1.8,NaN,NaN,NaN,NaN
3,2021-04-24,1023346,200,350427,34.2,0,18513,1.8,NaN,NaN,NaN,NaN
4,2021-04-25,1023346,23323,350631,34.2,3411,18513,1.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
315,2022-03-02,9401888,377,8304717,88.3,758,8216720,87.4,11710.0,5689522.0,60.5,9401888.0
316,2022-03-03,9401888,316,8305075,88.3,621,8217373,87.4,12679.0,5702479.0,60.7,9401888.0
317,2022-03-04,9401888,508,8305659,88.3,1057,8218519,87.4,18116.0,5720977.0,60.8,9401888.0
318,2022-03-05,9401888,345,8305965,88.3,802,8219305,87.4,9067.0,5730542.0,61.0,9401888.0
319,2022-03-06,9401888,8,8305935,88.3,31,8219297,87.4,308.0,5730846.0,61.0,9401888.0

In [4]:
# 중복데이터 제거
vaccine_data.drop_duplicates(inplace=True)

In [5]:
# 1차 접종자 데이터
vaccine_1th = vaccine_data[['접종일', '당일 1차접종자 수', '1차접종 누계', '1차접종률(%)']]
vaccine_1th

            접종일  당일 1차접종자 수  1차접종 누계  1차접종률(%)
0    2021-04-21       22501   291857      28.6
1    2021-04-22       27074   317386      31.0
2    2021-04-23       10195   345764      33.6
3    2021-04-24         200   350427      34.2
4    2021-04-25       23323   350631      34.2
..          ...         ...      ...       ...
315  2022-03-02         377  8304717      88.3
316  2022-03-03         316  8305075      88.3
317  2022-03-04         508  8305659      88.3
318  2022-03-05         345  8305965      88.3
319  2022-03-06           8  8305935      88.3

[320 rows x 4 columns]

In [6]:
# 2차 접종자 데이터
vaccine_2th = vaccine_data[['접종일', '당일 2차접종자 수', '2차접종 누계', '2차접종률(%)']]
vaccine_2th

            접종일  당일 2차접종자 수  2차접종 누계  2차접종률(%)
0    2021-04-21        2358    13543       1.3
1    2021-04-22        2479    15901       1.6
2    2021-04-23         119    18376       1.8
3    2021-04-24           0    18513       1.8
4    2021-04-25        3411    18513       1.8
..          ...         ...      ...       ...
315  2022-03-02         758  8216720      87.4
316  2022-03-03         621  8217373      87.4
317  2022-03-04        1057  8218519      87.4
318  2022-03-05         802  8219305      87.4
319  2022-03-06          31  8219297      87.4

[320 rows x 4 columns]

In [7]:
# 1차 접종 데이터 컬럼명 변경
vaccine_1th.rename(columns = {'접종일' : 'date'}, inplace=True)
vaccine_1th

           date  당일 1차접종자 수  1차접종 누계  1차접종률(%)
0    2021-04-21       22501   291857      28.6
1    2021-04-22       27074   317386      31.0
2    2021-04-23       10195   345764      33.6
3    2021-04-24         200   350427      34.2
4    2021-04-25       23323   350631      34.2
..          ...         ...      ...       ...
315  2022-03-02         377  8304717      88.3
316  2022-03-03         316  8305075      88.3
317  2022-03-04         508  8305659      88.3
318  2022-03-05         345  8305965      88.3
319  2022-03-06           8  8305935      88.3

[320 rows x 4 columns]

In [8]:
# 2차 접종 데이터 컬럼명 변경
vaccine_2th.rename(columns = {'접종일' : 'date'}, inplace=True)
vaccine_2th

           date  당일 2차접종자 수  2차접종 누계  2차접종률(%)
0    2021-04-21        2358    13543       1.3
1    2021-04-22        2479    15901       1.6
2    2021-04-23         119    18376       1.8
3    2021-04-24           0    18513       1.8
4    2021-04-25        3411    18513       1.8
..          ...         ...      ...       ...
315  2022-03-02         758  8216720      87.4
316  2022-03-03         621  8217373      87.4
317  2022-03-04        1057  8218519      87.4
318  2022-03-05         802  8219305      87.4
319  2022-03-06          31  8219297      87.4

[320 rows x 4 columns]

In [9]:
# 1,2차 접종자 데이터
vaccine_both = pd.merge(vaccine_1th, vaccine_2th, on='date')
vaccine_both

           date  당일 1차접종자 수  1차접종 누계  1차접종률(%)  당일 2차접종자 수  2차접종 누계  2차접종률(%)
0    2021-04-21       22501   291857      28.6        2358    13543       1.3
1    2021-04-22       27074   317386      31.0        2479    15901       1.6
2    2021-04-23       10195   345764      33.6         119    18376       1.8
3    2021-04-24         200   350427      34.2           0    18513       1.8
4    2021-04-25       23323   350631      34.2        3411    18513       1.8
..          ...         ...      ...       ...         ...      ...       ...
315  2022-03-02         377  8304717      88.3         758  8216720      87.4
316  2022-03-03         316  8305075      88.3         621  8217373      87.4
317  2022-03-04         508  8305659      88.3        1057  8218519      87.4
318  2022-03-05         345  8305965      88.3         802  8219305      87.4
319  2022-03-06           8  8305935      88.3          31  8219297      87.4

[320 rows x 7 columns]

In [10]:
# 결측치 확인하기
vaccine_1th.isnull().sum()

date          0
당일 1차접종자 수    0
1차접종 누계       0
1차접종률(%)      0
dtype: int64

In [11]:
vaccine_2th.isnull().sum()

date          0
당일 2차접종자 수    0
2차접종 누계       0
2차접종률(%)      0
dtype: int64

# 전국 코로나 확진자 데이터 불러오기

In [12]:
covid_path = '/content/drive/MyDrive/DATATHON01/confirmed_case.csv'
covid_data = pd.read_csv(covid_path, encoding='CP949')
covid_data

,전국 기준일,전국 확진,전국 추가 확진,전국 치료중,전국 퇴원,전국 사망,전국 의심환자 전체,전국 의심환자 검사중,전국 의심환자 검사결과(음성)
0,2020-02-05,18,0,18,0,0,200.0,174.0,522.0
1,2020-02-06,24,0,23,1,0,591.0,169.0,693.0
2,2020-02-07,24,0,22,2,0,1106.0,264.0,842.0
3,2020-02-08,24,0,22,2,0,1677.0,620.0,1057.0
4,2020-02-09,27,0,24,3,0,2571.0,888.0,1683.0
...,...,...,...,...,...,...,...,...,...
757,2022-03-03,3691488,198803,2453100,1229994,8394,NaN,NaN,NaN
758,2022-03-04,3958326,266853,2678332,1271414,8580,NaN,NaN,NaN
759,2022-03-05,4212652,254327,2896311,1307545,8796,NaN,NaN,NaN
760,2022-03-06,4456264,243628,3139762,1307545,8957,NaN,NaN,NaN
761,2022-03-07,4666977,210716,3350336,1307545,9096,NaN,NaN,NaN

In [13]:
# 전국 데이터만 추출
covid_data = covid_data[['전국 기준일', '전국 확진', '전국 추가 확진', '전국 치료중', '전국 퇴원', '전국 사망']]
covid_data

         전국 기준일    전국 확진  전국 추가 확진   전국 치료중    전국 퇴원  전국 사망
0    2020-02-05       18         0       18        0      0
1    2020-02-06       24         0       23        1      0
2    2020-02-07       24         0       22        2      0
3    2020-02-08       24         0       22        2      0
4    2020-02-09       27         0       24        3      0
..          ...      ...       ...      ...      ...    ...
757  2022-03-03  3691488    198803  2453100  1229994   8394
758  2022-03-04  3958326    266853  2678332  1271414   8580
759  2022-03-05  4212652    254327  2896311  1307545   8796
760  2022-03-06  4456264    243628  3139762  1307545   8957
761  2022-03-07  4666977    210716  3350336  1307545   9096

[762 rows x 6 columns]

In [14]:
# 컬럼명 변경
covid_data.rename(columns = {'전국 기준일' : 'date'}, inplace=True)
covid_data

           date    전국 확진  전국 추가 확진   전국 치료중    전국 퇴원  전국 사망
0    2020-02-05       18         0       18        0      0
1    2020-02-06       24         0       23        1      0
2    2020-02-07       24         0       22        2      0
3    2020-02-08       24         0       22        2      0
4    2020-02-09       27         0       24        3      0
..          ...      ...       ...      ...      ...    ...
757  2022-03-03  3691488    198803  2453100  1229994   8394
758  2022-03-04  3958326    266853  2678332  1271414   8580
759  2022-03-05  4212652    254327  2896311  1307545   8796
760  2022-03-06  4456264    243628  3139762  1307545   8957
761  2022-03-07  4666977    210716  3350336  1307545   9096

[762 rows x 6 columns]

In [15]:
# 중복 데이터 제거
covid_data.drop_duplicates(inplace=True)

In [16]:
# 결측치 확인하기
covid_data.isnull().sum()

date        0
전국 확진       0
전국 추가 확진    0
전국 치료중      0
전국 퇴원       0
전국 사망       0
dtype: int64

In [17]:
# 전국 코로나 확진자 데이터와 백신 데이터 기간 맞추기
# 21.04.21 ~ 22.03.06

covid_data = covid_data[covid_data['date']>='2021-04-21']
covid_data = covid_data[covid_data['date']<='2022-03-06']
covid_data

           date    전국 확진  전국 추가 확진   전국 치료중    전국 퇴원  전국 사망
441  2021-04-21   115926       731     8243   105877   1806
442  2021-04-22   116661       735     8394   106459   1808
443  2021-04-23   117458       797     8576   107071   1811
444  2021-04-24   118243       785     8650   107781   1812
445  2021-04-25   118887       644     8599   108475   1813
..          ...      ...       ...      ...      ...    ...
756  2022-03-02  3492686    219241  2317448  1166972   8266
757  2022-03-03  3691488    198803  2453100  1229994   8394
758  2022-03-04  3958326    266853  2678332  1271414   8580
759  2022-03-05  4212652    254327  2896311  1307545   8796
760  2022-03-06  4456264    243628  3139762  1307545   8957

[320 rows x 6 columns]